* {
    box-sizing: border-box;
}

.wrapper div {
    border: 1px solid #333;
    text-align: center;
    color: white;
    font-size: 25px;
}

.wrapper {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 200 1fr;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas: "header header header" "main main aside" "footer footer footer";
}

.product div {
    padding-top: 100px;
    background-color: white;
    color: #333;
    font-size: 5em;
    text-align: center;
}

header,
main,
aside,
footer {
    padding: 2em;
    background-color: rgb(71, 51, 24);
    color: white;
    font-size: 1.5em;
    text-align: center;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

.main-product {
    padding: 15px;
    display: grid;
    grid-template: 200px 200px / 200px 200px 200px;
    grid-gap: 15px;
    font-size: 25px;
    justify-content: center;
}

.main-product div {
    border: 1px solid black;
    background-color: rgb(75, 130, 50);
    color: white;
    text-align: center;
}

.wrapper {
    text-align: center;
}